---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>JPrograming25</title>
  </head>
  <body
    class="bg-background text-foreground antialiased selection:bg-primary/20 selection:text-primary overflow-x-hidden w-full"
  >
    <Navbar />
    <main class="layout-main min-h-screen pb-[80px] md:pb-0">
      <slot />
    </main>
  </body>
</html>
